asgiref==3.4.1
awsebcli==3.20.2
botocore==1.21.48
cement==2.8.2
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
Django==3.2.6
django-filter==2.4.0
djangorestframework==3.12.4
drf-extensions==0.7.1
drf-yasg==1.20.0
future==0.16.0
idna==3.2
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
mysqlclient==2.0.3
packaging==21.0
pathspec==0.5.9
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.1
termcolor==1.1.0
uritemplate==3.0.1
urllib3==1.26.7
wcwidth==0.1.9
